[Unit]
Description=discord-app %i
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
Environment=DISCORD_CLIENT_ID=%i
WorkingDirectory=/opt/discommand/discord-app
EnvironmentFile=/opt/discommand/discord-app/.env
ExecStart=/opt/discommand/discord-app/discord-app.mjs %i

[Install]
WantedBy=multi-user.target
