[Unit]
Description=discord-app
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/discord-app
ExecStart=/opt/discord-app/discord-app.mjs
EnvironmentFile=/opt/discord-app/.env

[Install]
WantedBy=multi-user.target
